.page {
	padding: 20px;
	width: 600px;
	min-height: 100vh;

	& main {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 40px;
		flex-direction: column;
	}

	& p {
		text-align: center;
	}

	& p + p {
		margin-top: 10px;
	}
}

.ball {
	--ball-width: 40px;

	width: var(--ball-width);
	height: var(--ball-width);
	border-radius: calc(var(--ball-width) / 2);
	background-color: var(--blue);
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--white);
}
