@import "./reset.css";
@import "./font.css";
@import "./constants";

* {
	font-family: "pretendard", sans-serif;
}

#root {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
